.game-over-screen {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #2d044f; /* Uppdaterad färg */
  padding: 20px;
  color: white;
  border-radius: 10px;
  z-index: 2;
}

.game-over-screen h2 {
  margin-bottom: 20px;
}

.game-over-screen button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2d044f; /* Uppdaterad färg */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.game-over-screen button:hover {
  background-color: #0c6efa; /* Mörkare blå hover-effekt */
}
