.pause-menu {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #2d044f;
    padding: 20px;
    color: white;
    border-radius: 10px;
    z-index: 2;
  }
  
  .pause-menu h2 {
    margin-bottom: 20px;
  }
  
  .pause-menu button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ec4360;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .pause-menu button:hover {
    background-color: #ff627a;
  }