body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background: #000;
}

.snake-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #fff;
  font-size: 16px;
}
.game-wrapper {
 
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  width: 360px;
border-radius: 20px;
}
.snake-logo {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  color: #000;
  font-weight: 800;
  text-shadow: 2px 2px 4px #fff;
  letter-spacing: 5px;
  transform: rotate(0deg);
}

.scoreText {
  font-size: 18px;
  font-weight: bold;
  color: black; /* Justera färgen efter din design */
  background-color: #f6c02a; /* Justera bakgrundsfärgen efter din design */
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
}
.canvas-container {
  position: relative;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-canvas {
  position: relative;
  background-color: white;

  border-radius: 10px;
 
  
}

.red-apple,
.purple-apple,
.white-block {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  border: 1px solid #000;
}
.resume-counter {
  font-size: 24px;
  font-weight: bold;
  color:black ;
  background-color: #f6c02a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.red-apple {
  background-color: #ec4360; /* Rosa äpplefärg */
}

.purple-apple {
  background-color: #57c1c5; /* Turkos äpplefärg */
}

.white-block {
  background-color: #f6c02a; /* Gul blockfärg */
}

.snake-canvas {
  position: relative;
  width: 90%;
  height: 120%;
  background-color: #2d044f; /* Mörk lila canvasfärg */
  border: 4px solid #000;
}

.snake-segment {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #0c6efa; /* Blå ormsegmentfärg */
  border-radius: 50%;
}

.snake-segment:first-child {
  background-color: #0c6efa; /* Färg för huvudsegmentet */
}

.joystick {
  display: flex;
  flex-direction: column;
}

.arrow-row {
  display: flex;
}

.arrow-button,
.center-button {
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ec4360;
  transition: background-color 0.3s, transform 0.3s;
}

.center-button {
  background-color: #f6c02a;
}

.arrow-button:hover,
.center-button:hover {
  background-color: purple;
  
}

.arrow-button:active,
.center-button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

  .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    background: none;
    border: none;
    font-weight: 800;
    outline: none;
    background-color: #f6c02a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .exit-button:hover {
    text-decoration: none;
    color: white;
    background-color: black;
  }
 
  
  
  
  
  