.start-screen {
  height: 50vh;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #2d044f; /* Mörk lila bakgrundsfärg */
  border-color: #666;
  border-style: solid;
}

.start-content {
  text-align: center;
  color: #ec4360; /* Rosa textfärg */
  margin: 15px;
}

.start-content h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #57c1c5; /* Turkos rubrikfärg */
}

.start-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #f6c02a; /* Gul textfärg */
}

.start-content button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #0c6efa; /* Blå knappfärg */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-content button:hover {
  background-color: #0570c4; /* Mörkare blå hover-effekt */
}